body {
  margin: 0px;
}

div {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

img {
  width: 100px;
  float: left;
}

.cartTable {
  width: 100%;
  min-width: 680px;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
}

.cartTable td {
  padding: 10px;
  border-bottom: 2px solid #b2ccd6;
}

.cartTable td:nth-child(2) {
  width: 100px;
}

.cart-background {
  background-color: #b2ccd6;
  width: 100%;
  padding: 50px;
}

.productName {
  font-size: 18px;
  font-weight: 600;
}

.productDetail {
  color: #98b1b9;
  font-weight: 500;
}

.productPrice,
.productAmount {
  color: #98b1b9;
  text-align: right;
}

.productTotal {
  color: #27486f;
  text-align: right;
}

.editCart {
  color: #133761;
}

.chooseBtn {
  background-color: #133761;
  color: white;
  font-size: 14px;
  font-weight: 100;
  padding: 16px;
  border: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}

.chooseBtn:hover {
  background-color: #303f8b;
}

/* 클릭 중의 스타일 */
.chooseBtn:active {
  background-color: black;
}

.totalPrice {
  color: #133761;
  font-size: 20px;
  text-align: right;
}

.input-test {
  font-size: 18px;
  padding: 5px;
}

.input-test:focus {
  border: 3px solid pink;
}

.custom-link {
  text-decoration: none;
}

.custom-link:link {
  color: black;
}

.custom-link:visited {
  color: white;
}

/* 클래스 이름 짓기 */
.main-btn {
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.bg-pink {
  background-color: pink;
}

.bg-blue {
  background-color: skyblue;
}

/* 만들어두면 편리한 Utility class */
f-small {
  font-size: 12px;
}
f-mid {
  font-size: 16px;
}
f-large {
  font-size: 20px;
}
