/* 내가 준비한 폰트파일을 CSS에서 사용가능하게 등록하는 과정 */
@font-face {
  font-family: "NanumSquareR";
  src: url(../font/NanumSquareR.woff);
}

body {
  margin: 0;
  font-family: "NanumSquareR";
}

/* 폰트를 돌리는 코드 
  엄청 조금 회전시키면 폰트가 안 깨지고 부드럽게 보임 */
p {
  transform: rotate(0.03deg);
}

div,
input,
textarea {
  box-sizing: border-box;
}

p {
  font-size: 18px;
}

.form-background {
  background-color: rgb(75, 74, 74);
  padding: 30px;
  height: 100%;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.form-input,
textarea {
  padding: 8px;
  border: 1px solid rgb(154, 154, 154);
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.form-name {
  width: 50%;
  float: left;
  padding: 10px;
}

.padding-10 {
  padding: 10px;
}

.h-long {
  height: 150px;
}

.sendBtn {
  padding: 3px;
  margin: 10px;
  width: 120px;
  height: 35px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: rgb(253, 193, 81);
  color: white;
  float: right;
}

.sendBtn:hover {
  background-color: orange;
}
